.preview {
  flex: 1;

  text-align: center;
  overflow: auto;
  height: calc(100% - 40px);

  background-color: #fafafa;
  background-image: linear-gradient(
      45deg,
      #eaeaea 25%,
      transparent 25%,
      transparent 75%,
      #eaeaea 75%,
      #eaeaea
    ),
    linear-gradient(
      45deg,
      #eaeaea 25%,
      transparent 25%,
      transparent 75%,
      #eaeaea 75%,
      #eaeaea
    );
  background-size: 30px 30px;
  padding: 20px;
  background-position: 0 0, 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.preview * {
  flex-shrink: 0;
  max-width: calc(100% - 40px);
  max-height: calc(100% - 40px);
}
