.preview {
  grid-area: preview;
  text-align: center;
  overflow: auto;
  height: 100%;

  background-color: #fafafa;
  background-image: linear-gradient(
      45deg,
      #eaeaea 25%,
      transparent 25%,
      transparent 75%,
      #eaeaea 75%,
      #eaeaea
    ),
    linear-gradient(
      45deg,
      #eaeaea 25%,
      transparent 25%,
      transparent 75%,
      #eaeaea 75%,
      #eaeaea
    );
  background-size: 30px 30px;
  padding: 20px;
  background-position: 0 0, 15px 15px;
}

