.app {
  background-color: #282c34;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    'header header'
    'editor preview';
}
